@media (max-width: 1440px) {
  .hero {
    max-width: 1440px;
    align-items: center;
  }
  .buttons {
    gap: 25px;
  }
  .images {
    width: 40%;
    height: auto;
  }
  .grid {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  .regular-text {
    font-size: 15px;
  }
  .mini-heading {
    font-weight: bold;
  }
  .logos {
    max-width: 1440px;
  }
  .testimonials {
    width: 10%;
    height: auto;
  }
  .final {
    column-gap: 25px;
  }
}
@media (max-width: 440px) {
  body {
    text-align: center;
  }
  .header {
    font-size: 44px;
    text-align: center;
    font-weight: 600;
    letter-spacing: -1px;
  }
  .regular-text {
    font-size: 15px;
    margin-bottom: 32px;
    margin-left: 22px;
    margin-right: 22px;
    text-align: center;
    max-width: 290px;
  }

  .buttons {
    flex-direction: column;
    margin-bottom: 128px;
  }
  .download {
    margin: 0;
    padding: 14px 96px;
  }
  .hide {
    display: none;
  }
  .sub-heading {
    text-align: center;
    letter-spacing: -0.1px;
  }
  .images {
    width: 90%;
    height: auto;
  }
  .z-pattern {
    flex-direction: column;
  }
  .grid--3-cols {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .blacklist {
    margin: 0;
  }
  .logos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  .testimonials {
    width: 50%;
  }
  .footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
  .final {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

      -Font-weights
        default:400
        medium:500
        semi-bold:600
        bold:700
      -Line height
      Default:1
      Medium:1.2
      large:1.8 
      small:1.05
      paragraph-defalut:1.6
      letter spacing:
      0.5px
      0.75px
      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98*/
